
<div class="auto-table overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
      <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  id
              </th>
              <th scope="col" class="px-6 py-3">
                  Produit
              </th>
              <th scope="col" class="px-6 py-3">
                Stock Tonnes métrique (t)
              </th>
              <th scope="col" class="px-6 py-3">
                Stock Metre cube (m³)
              </th>
              <th scope="col" class="px-6 py-3">
                Etat (t)
              </th>
              <th scope="col" class="px-6 py-3">
                Etat (m³)
              </th>
              <th scope="col" class="px-6 py-3">
                Action
              </th>
          </tr>
      </thead>
      <tbody *ngFor="let stock of stocks">
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{stock.id}}
              </th>
              <td class="px-6 py-3">
                  {{stock.produit.name}}
              </td>
              <td class="px-6 py-3">
                {{stock.en_tm}}
              </td>
              <td class="px-6 py-3">
                {{stock.en_m3}}
              </td>
              <td class="px-6 py-3 colonne-1 {{ stock.etatTM === 'NORMAL' ? 'etat-normal-tm' : stock.etatTM === 'AVERTISSEMENT' ? 'etat-averti-tm' : 'etat-rupture-tm' }}">
                {{stock.etatTM}}
              </td>
              <td class="px-6 py-3 colonne-2 {{ stock.etatM3 === 'NORMAL' ? 'etat-normal-m3' : stock.etatM3 === 'AVERTISSEMENT' ? 'etat-averti-m3' : 'etat-rupture-m3' }}">
                {{stock.etatM3}}
              </td>
              <td class="px-6 py-3+">
                  <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline " [routerLink]="'/admin/maj-stock/' + stock.id">Modifier</a>
                  <a class="font-medium text-red-600 dark:text-red-500 hover:underline ml-6 cursor-pointer" (click)="deleteStock(stock.id)">Supprimer</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
