
<div class="auto-table overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
      <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  id
              </th>
              <th scope="col" class="px-6 py-3">
                  Prix Unitaire (Dt)
              </th>
              <th scope="col" class="px-6 py-3">
                  Produit
              </th>
              <th scope="col" class="px-6 py-3">
                Frais 1 (Dt)
              </th>
              <th scope="col" class="px-6 py-3">
                Frais 2 (Dt)
              </th>
              <th scope="col" class="px-6 py-3">
                Voix
              </th>
              <th scope="col" class="px-6 py-3">
                Structure de prix
              </th>
              <th scope="col" class="px-6 py-3">
                Action
              </th>
          </tr>
      </thead>
      <tbody *ngFor="let prix of prixunitaires; let i = index">
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{prix.id}}
              </th>
              <td class="px-6 py-3">
                  {{prix.price}}
              </td>
              <td class="px-6 py-3">
                {{prix.produit.name}}
              </td>
              <td class="px-6 py-3">
                {{prix.frais1}}
              </td>
              <td class="px-6 py-3">
                {{prix.frais2}}
              </td>
              <td class="px-6 py-3" [ngSwitch]="prix.voixId">
                <span *ngSwitchCase="1">Terre</span>
                <span *ngSwitchCase="2">Mer</span>
                <span *ngSwitchCase="3">Pipe</span>
              </td>
              <td class="px-6 py-3">
                {{prix.structure_prix | date:'yyyy-MM-dd'}}
              </td>
              <td class="px-6 py-3+">
                  <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer" [routerLink]="'/admin/maj-prix/' + prix.id">Modifier</a>
                  <a class="font-medium text-red-600 dark:text-red-500 hover:underline ml-6 cursor-pointer" (click)="deletePrix(prix.id)">Supprimer</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
