<div class="min-v-screen flex items-center justify-center">
  <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg bg-cyan-100 border-cyan-800 border-2">

    <div class="flex justify-center mb-8 ">
      <a routerLink="/" class="text-2xl font-serif font-bold tracking-wide overline text-blue-800">F F S</a>
    </div>

    <h1 class="text-2xl font-semibold text-center text-cyan-500 mt-8 mb-6 ">Ajouter Prix Unitaire</h1>

    <form [formGroup]="prixunitaireForm" >

      <!-- Produit -->
      <div class="mb-4">
        <label class="block mb-2 text-sm text-gray-600">Sélectionner un Produit</label>
        <select formControlName="produitId" name="produitId"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
          <option *ngFor="let produit of listOfProduit" [value]="produit.id">
            {{produit.name}}
          </option>
        </select>
        <mat-error *ngIf="prixunitaireForm.get('produitId')?.invalid && prixunitaireForm.get('produitId')?.touched">
          Sélectionner un produit pour votre prix unitaire.
        </mat-error>
      </div>


      <!-- Voix -->
      <div class="mb-4">
        <label class="block mb-2 text-sm text-gray-600">Sélectionner un voix</label>
        <select formControlName="voixId" name="voixId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
          <option *ngFor="let voix of listOfVoix" [value]="voix.id">
            {{voix.name}}
          </option>
        </select>

        <mat-error *ngIf="prixunitaireForm.get('voixId')?.invalid && prixunitaireForm.get('voixId')?.touched">
          Sélectionner un voix pour votre prix unitaire.
        </mat-error>
      </div>


      <!-- Prix -->
      <div class="mb-4">
        <label class="block mb-2 text-sm text-gray-600">Prix Unitaire</label>
        <input matInput type="number" formControlName="price" placeholder="Prix Unitaire" class="w-full px-4 py-2 border text-cyan-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>

        <mat-error *ngIf="prixunitaireForm.get('price')?.invalid && prixunitaireForm.get('price')?.touched">
          Saisie un prix unitaire pour votre prix unitaire.
        </mat-error>
      </div>



      <!-- Frais1 -->
      <div class="mb-4">
        <label class="block mb-2 text-sm text-gray-600">Frais 1</label>
        <input matInput type="number" formControlName="frais1" placeholder="Frais 1" class="w-full px-4 py-2 border text-cyan-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>

        <mat-error *ngIf="prixunitaireForm.get('frais1')?.invalid && prixunitaireForm.get('frais1')?.touched">
          Saisie un 1er frais pour votre prix unitaire.
        </mat-error>
      </div>

      <!-- Frais2 -->
      <div class="mb-4">
        <label class="block mb-2 text-sm text-gray-600">Frais 2</label>
        <input matInput type="number" formControlName="frais2" placeholder="Frais 2" class="w-full px-4 py-2 border text-cyan-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>

        <mat-error *ngIf="prixunitaireForm.get('frais2')?.invalid && prixunitaireForm.get('frais2')?.touched">
          Saisie un 2ème frais pour votre prix unitaire.
        </mat-error>
      </div>




      <!-- Structure prix -->
      <div class="mb-4">
        <label class="block mb-2 text-sm text-gray-600">Structure du prix</label>
        <input matInput type="date" formControlName="structure_prix" class="w-full px-4 py-2 border text-cyan-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>

        <mat-error  *ngIf="prixunitaireForm.get('date')?.invalid && prixunitaireForm.get('date')?.touched">
          Saisie un date pour votre prix unitaire.
        </mat-error>
      </div>

      <!-- Confirmation -->
      <button type="submit" class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2" (click)="addPrice()">Ajouter</button>


    </form>

  </div>
</div>
