<div class="fixed top-0 z-50 right-0 left-0 bg-[#0a4275] text-blue-400 navbar-light bg-light">
  <div class="h-16 flex items-center justify-between">

    <div class="pl-5">
        <a routerLink="/" class="text-2xl font-serif font-bold tracking-wide overline text-blue-400">F F S</a>

    </div>

    <div class="flex space-x-20 font-semibold text-m">
      <a routerLink="/" class="text-blue-400 hover:text-blue-600 ">Acceuil</a>

      <div class="dropdown">
        <button class="dropbtn">Produit</button>
        <div class="dropdown-content">
          <a routerLink="/admin/ajouter-produit">Ajouter produit</a>
          <a routerLink="/admin/dashboard">Consulter les produits</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Catégorie</button>
        <div class="dropdown-content">
          <a routerLink="/admin/ajouter-categorie">Ajouter catégorie</a>
          <a  routerLink="/admin/tout-categorie">Consulter les catégories</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Prix Unitaire</button>
        <div class="dropdown-content">
          <a routerLink="/admin/ajouter-prixunitaire">Ajouter Prix Unitaire</a>
          <a routerLink="/admin/tout-prix">Consulter les prix unitaires</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Stock</button>
        <div class="dropdown-content">
          <a routerLink="/admin/ajouter-stock">Ajouter Stock</a>
          <a routerLink="/admin/tout-stocks">Consulter les stocks</a>
        </div>
      </div>
      <a routerLink="/admin/tout-commandes" class="text-blue-400 hover:text-blue-600" routerLinkActive="active">Commandes</a>
      <a routerLink="/admin/analyses" class="text-blue-400 hover:text-blue-600" routerLinkActive="active">Analyses</a>
      <a routerLink="/admin/tout-users" class="text-blue-400 hover:text-blue-600" routerLinkActive="active">Clients</a>
    </div>

    <div class="space-x-10 pr-5">
      <button type="button" class="inline-block rounded bg-blue-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-blue-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0 " (click)="logout()" routerLinkActive="active">
        <mat-icon>logout</mat-icon>
      </button>
  </div>
</div>
