<form [formGroup]="searchProductForm" class="search-form" (submit)="submitForm()">
  <fieldset>
    <label class="block mb-2 text-lg text-white-600">Rechercher un produit</label>
    <input matInput formControlName="title" class="search-input">
    <button class="recherche">Chercher</button>
  </fieldset>
</form>
<div class="product-list">

    <mat-card class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <img [src]="product.processedImg" alt="product-img">
        </div>
        <div class="product-detail">
          <h2 class="product-name">{{product.name}}</h2>
          <p class="product-desc">{{product.description}}</p>
          <mat-divider></mat-divider>

          <div class="info-row">
              <span class="info-label">Catégorie :</span>
              <span class="info-value">{{product.categoriName}}</span>
          </div>
          <div class="product-info" *ngFor="let prixUnitaire of prixUnitairesMap.get(product.id)">


            <div >
              <span>Prix unitaire pour le voix
                <span *ngIf="prixUnitaire.voixId === 1">Terre : </span>
                <span *ngIf="prixUnitaire.voixId === 2">Mer : </span>
                <span *ngIf="prixUnitaire.voixId === 3">Pipe : </span>
              </span>
              <span class="info-value">{{prixUnitaire.price}} $</span>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="voix-selection">
          <span class="info-label">Choisir la voix :</span>
          <label *ngFor="let voix of [1, 2, 3]" class="radio">
            <input type="radio" name="voice{{product.id}}" [value]="voix" (change)="selectVoix(voix)" class="button-radio">
            <span *ngIf="voix === 1">Terre</span>
            <span *ngIf="voix === 2">Mer</span>
            <span *ngIf="voix === 3">Pipe</span>
          </label>
        </div>
        <mat-divider></mat-divider>

        <div class="action">
          <button class="update" (click)="addToCart(product.id)">Ajouter au panier</button>
        </div>
        <button class="favorite" (click)="addToFavorites(product.id)">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-card>
</div>
